<p id="notice"><%= notice %></p>

<div class="container-fluid">

  <p>
    <strong>Fornecedor:</strong>
    <%= @despesa.fornecedor %>
  </p>

  <p>
    <strong>CNPJ/CPF:</strong>
    <%= @despesa.mask_document(@despesa.cnpjCPF) %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= @despesa.numero %>
  </p>

  <p>
    <strong>Data da Emissao:</strong>
    <%= @despesa.dataEmissao.to_date %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= @despesa.valor_formatado %>
  </p>

  <p>
    <strong>Mes e Ano:</strong>
    <%= @despesa.mes_e_ano %>
  </p>

  <p>
    <strong>Id.Documento:</strong>
    <%= @despesa.idDocumento %>
  </p>
  <% if @despesa.urlDocumento.present? %>
    <p>
      <strong>Link Documento:</strong>
      <a href="<%= @despesa.urlDocumento %>">PDF</a>
    </p>
  <% end %>
</div>

<%= link_to 'Voltar', @despesa.deputado, class: "btn btn-info"%>

