<p id="notice"><%= notice %></p>

<h1>Exercicios</h1>

<table class="table">
  <thead>
    <tr>
      <th>Ano do Exercicio</th>
      <th>Total gastos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ceaps.each do |ceap| %>
      <tr>
        <td><%= ceap.exercicio %></td>
        <td><%= ceap.total_gastos %></td>
        <td><%= link_to 'Show', ceap %></td>
        <td><%= link_to 'Destroy', ceap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ceap', new_ceap_path %>
