<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <h1>Exercicios</h1>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Ano do Exercicio</th>
        <th>Total Gastos</th>
        <th>Detalhes</th>
        <th>Status</th>
        <th>Excluir</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @ceaps.each do |ceap| %>
        <tr class="table-light">
          <td><%= ceap.exercicio %></td>
          <% if ceap.concluido? %>
            <td><%= "R$: #{ceap.total_gastos}" %></td>
          <% else %>
            <td>R$: 0,00</td>
          <% end %>
          <td><%= link_to 'Detalhes', ceap, class: "btn btn-info"%></td>
          <% if ceap.concluido? %>
            <td><span class="btn btn-success" %>Concluido</td>
          <% else %>
            <td><span class="btn btn-warning" %>Processando</td>
          <% end %>
          <td><%= link_to 'Apagar', ceap, class:"btn btn-danger",method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'Novo Exercicio', new_ceap_path, class: "btn btn-primary btn-sm" %>
</div>

